


#aboutme {
  background-color: transparent;
  font-size: 28px;
  font-family: 'Press Start 2P', cursive;
  text-align: right;
}

.myfirstclass {
  background-color: white;
  font-family: 'Press Start 2P', cursive
}


body {
  background-color: white;
}
